scripts=[
        "
        create path (sling:OrderedFolder) /content/dam/generic-migration-tool
        create path (nt:unstructured) /content/dam/generic-migration-tool/jcr:content
        set properties on /content/dam/generic-migration-tool/jcr:content
        set cq:conf{String} to /conf/generic-migration-tool
        set jcr:title{String} to \"Generic Migration Tool\"
        end
        "
]
